<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="Layout(content)">
<head>
    <meta charset="ISO-8859-1">
    <title>Smart Contact Manager</title>
    <link rel="stylesheet" th:href="@{/css/output.css}" />
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.0/dist/cdn.min.js" defer></script>
</head>
<body class="flex h-screen bg-gray-200" x-data="{ open: true }">
    <!-- Main Container -->
    <div class="flex-1 flex flex-col">
        <!-- Top Bar -->
        <div class="container bg-pink-500 mx-auto flex justify-between items-center h-16 p-2 ">
            <a href="#" class="text-white text-3xl font-serif">Smart Contact Manager</a>
            <a th:href="@{/user/dash}" class="text-white hover:text-gray-200" th:text="${user.name}"></a>
            <div class="space-x-4">
                <a href="#" th:href="@{/home}" class="text-white hover:text-gray-200">Home</a>
                <a href="#" th:href="@{/logout}" class="text-white hover:text-gray-200">Logout</a>
            </div>
        </div>
        
       
        <div class="flex flex-row h-full">
           
            <div :class="open ? 'w-64' : 'w-28'" class="flex flex-col bg-white border-r dark:bg-gray-800 dark:border-gray-600 transition-all duration-300">
                <div class="flex items-center justify-between p-4">
                    <h1 class="text-lg font-semibold" th:text="${user.name}"></h1>
                    <button @click="open = !open">
                        <svg x-show="!open" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                        </svg>
                        <svg x-show="open" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                        </svg>
                    </button>
                </div>
                <nav :class="open ? 'block' : 'hidden'" class="flex-grow p-4  ">
                    <a href="#" th:href="@{/home}" class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-600 rounded-lg hover:bg-gray-200">Home</a>
                    <a href="#" th:href="@{/user/view-contacts/0}" class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-600 rounded-lg hover:bg-gray-200">View Contacts</a>
                    <a href="#" th:href="@{/user/addcontact}" class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-600 rounded-lg hover:bg-gray-200">Add Contact</a>
                    <a href="#" th:href="@{/profile}" class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-600 rounded-lg hover:bg-gray-200">Your Profile</a>
                    <a href="#" th:href="@{/settings}" class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-600 rounded-lg hover:bg-gray-200">Settings</a>
                    <a href="#" th:href="@{/logout}" class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-600 rounded-lg hover:bg-gray-200">Logout</a>
                    
                </nav>
            </div>
            
            <!-- Page Content -->
            <div :class="open ? 'w-5/6' : 'w-full'" class="transition-all duration-300 " th:replace="${content}"></div>
        </div>
    </div>
</body>
</html>
